{% extends 'base.html' %}

{% block content %}
<h2>All Posts</h2>
<ul class="list-group">
    {% for post in posts %}
        <li class="list-group-item">
            <h5>{{ post.title }}</h5>


            {% if post.image %}
                <div>
                    <img src="{{ url_for('static', filename='uploads/' + post.image) }}" alt="{{ post.title }}" style="max-width: 100px; height: auto;">
                </div>
            {% else %}
                <div>
                    <img src="{{ url_for('static', filename='uploads/default.jpg') }}" alt="Default Image" style="max-width: 100px; height: auto;">
                </div>
            {% endif %}

            <p><strong>Category:</strong> {{ post.category }}</p>
            <p>{{ post.content | truncate(100) }}</p>
            <p><strong>Author:</strong> {{ post.author }} | <strong>Date:</strong> {{ post.publication_date }}</p>
            <a href="{{ url_for('posts.detail_post', id=post.id) }}" class="btn btn-info">View</a>
            <a href="{{ url_for('posts.edit_post', id=post.id) }}" class="btn btn-warning">Edit</a>
            <a href="{{ url_for('posts.delete_post', id=post.id) }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}


