{% extends 'base.html' %}

{% block content %}
  <h2>Реєстрація</h2>

  <form method="POST">
    <div>
      <label for="username">Ім’я користувача:</label>
      {{ form.username(class="form-control", id="username", required=True) }}
    </div>

    <div>
      <label for="password">Пароль:</label>
      {{ form.password(class="form-control", id="password", required=True) }}
    </div>

    <div>
      <label for="confirm_password">Підтвердження пароля:</label>
      {{ form.confirm_password(class="form-control", id="confirm_password", required=True) }}
    </div>

    <button type="submit" class="btn btn-primary">Зареєструватися</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="flash-{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endblock %}
